body {
    font-family: sans-serif;
}

#screen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}

#menu {
    position: absolute;
    background-color: white;
    padding: 10px;
    font-size: 10pt;
    border-radius: 10px;
    max-width: 400px;
    z-index: 1;
    box-shadow: 2px 2px 10px black;
}

#canvas {
    z-index: 0;
}

#presetspanelcontainer {
    position: relative;
    height: 140px;
}

div.presetsheader {
    margin-top: 2px;
    margin-bottom: 5px;
}

div.presetspanel {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    max-width: 80vw;
    overflow-x: auto;
    background-color: white;
    padding: 10px;
    font-size: 10pt;
    border-radius: 10px;
    z-index: 1;
    vertical-align: top;
    box-shadow: 2px 2px 10px black;
}

div.presetdesignsection {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

div.presetdesignheader {
    height: 18px;
    font-size: 15px;
    width: 100%;
    border-bottom: solid black 1px;
    margin-bottom: 5px;
}

div.presetbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

div.presetimage {
    display: inline-block;
}

button.presetbutton {
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
}

div.presetimage img {
    vertical-align: middle;
}

button.presetbutton[disabled],
button.presetbutton:disabled img {
    opacity: 60%;
}

div.presetdesc {
    position: relative;
    height: 20px;
    margin-top: 3px;
    font-size: 12px;
    white-space: normal;
    text-align: center;
}

#menu input[type="number"] {
    width: 4em;
}

div.menuinstructions {
    font-size: 8pt;
    margin-top: 20px;
    color: grey;
}

kbd {
    background-color: #dddddd;
    color: black;
    border: 1px solid gray;
    border-radius: 0.5ex;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

div.menusection {
    margin-bottom: 8pt;
}

#menutoprightdiv {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    font-size: 28px;
}

#menutoprightdiv div {
    display: inline-block;
    margin: 5px;
    font-size: 28px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

div.menurow {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

button.clockpresetbutton {
    margin-bottom: 10px;
}

button.clockcontrolbutton {
    margin-top: 10px;
    min-width: 100px;
    height: 24pt;
    font-size: 12pt;
}

button.countercontrolbutton {
    margin-top: 10px;
    min-width: 60px;
    height: 24pt;
    font-size: 12pt;
}

div.radiorow {
    margin-top: 2px;
    margin-bottom: 2px;
}

div.radiorow input {
    margin-top: 0;
    vertical-align: middle;
}

div.radiorow label {
    margin-top: 0;
    vertical-align: middle;
}

div.sectionbody table {
    margin-left: 10px;
}

table.menuinstructions {
    margin-left: 10px;
}

table.menuinstructions td {
    padding-right: 10px;
}

div.sectiontitle {
    font-weight: bold;
}

div.sectiontitleclickable {
    cursor: pointer;
}

div.colourtable {
    margin-left: 10px;
}

div.colourcontrol {
    display: inline-block;
    text-align: center;
}

div.colourcontrol div {
    padding: 2px 5px 2px 5px;
}

div.colourcontroltitle {
    text-align: center;
    font-size: 9pt;
}

div.colourpicker {
    text-align: center;
}

table.colourtrim td {
    text-align: left;
    padding: 2px;
}

table.colourtrim input {
    margin-right: 10px;
}

#errors {
    color: red;
}

div.about {
}

div.about p {
    margin-left: 10px;
}

a.expandlink {
    color: blue;
    cursor: pointer;
}

#cookiesummary {
    color: gray;
}

div.sectiondropdown {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    width: 1em;
    display: inline-block;
    background-color: #dddddd;
}

button.settingsbutton {
    margin-left: 1em;
    font-size: 12pt;
}

div.mobilecontrolbuttoncontainer button {
    height: 10vh;
    font-size: 8vmin;
    opacity: 60%;
    touch-action: manipulation;
}

div.mobilecontrols {
    display: none;
}

div.fullscreencontrols {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    text-align: center;
}

@media screen and (orientation: portrait) {
    div.mobilecontrols {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 5%;
        text-align: center;
        vertical-align: middle;
    }

    div.mobilecontrolbuttoncontainer {
        display: inline-block;
    }

    div.mobilecontrolbuttoncontainer button {
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 20vw;
    }
}

@media screen and (orientation: landscape) {
    div.mobilecontrols {
        display: block;
        position: absolute;
        right: 10px;
        width: 12vw;
        bottom: 0;
    }

    div.mobilecontrolbuttoncontainer {
        display: block;
    }

    div.mobilecontrolbuttoncontainer button {
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 12vw;
        height: 20vh;
    }
}

#fullscreenbutton {
    width: 12vmin;
    height: 12vmin;
    font-size: 5vmin;
}
